<div class="container">
<img src="/assets/images/yabx.png" alt="image" class="img">
<div class="container-body">
    <h2>Welcome Dheeraj</h2>
    <p>An OTP has been sent to - 9123456780</p>
    <input type="text" class="otp">
    <input type="text" class="otp">
    <input type="text" class="otp">
    <input type="text" class="otp">
    <p style="padding: 10px;">Haven’t recieved code yet? <a class="resend">Resend</a></p>
    <button class="btn-send" (click)="showPersonalDetails()">Submit</button>
  </div>
</div>