<div class="personal-details">
    <div class="logo">
        <img src="/assets/images/yabx.png" alt="image" class="img">
    </div>
    <div class="tab-content">
            <tabset #tabset>
                <tab
                  tab1
                  heading="1 Loan info"
                  id="first"
                  #first
                  >
                  <div class="personal-details info">
        
                    <h2>Customize your loan quote</h2>
                    <div class="pre">
                        <p> <img src="assets/images/Vector.png" class="img1">Pre-approved limit : र 1 Lac</p>
                    </div>
                    <div class="loan-details">
                        <div class="loan">
                            <h3 class="heading">Loan Amount</h3>
                            <p>₹ 10.00 Lakhs</p>
                        </div>
            
                        <div class="tenture">
                            <h3 class="heading">Tenure</h3>
                            <p>3 Years</p>
                        </div>
                    </div>
                    <div class="range">
                        <label for="customRange1" class="form-label">0.50</label>
                        
            
                        <input type="range" class="form-range" id="customRange1" style="margin-right: 25px;
                padding-left: 0px;"><label for="" class="form-label" style="
                margin-left: -20px;
                margin-right: 15px;
            ">50</label>
            
                        <label for="customRange2" class="form-label">Year</label>
                        <input type="range" class="form-range" id="customRange2">
                        <label for="customRange2" class="form-label">5 </label>
            
                    </div>
                    
                       
            
                    <label>Loan Purpose</label><br>
                    <select class="form-control dropdown">
                        <option>Choose the purpose of the loan</option>
            
                    </select>
                    <div class="loan-summary">
                        <div class="row" >
                            <div class="col">
                                <p class="heading">Loan Summary</p>
                            </div>
                            <div class="col">
                                <span style="float: right;">Upto 2% application fees</span>
                            </div>
            
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>Loan Amount</p>
                                <p class="values"> ₹ 10.00 Lakhs </p>
            
                            </div>
                            <div class="col">
                                <p>Tenure</p>
                                <p class="values">4 years</p>
                            </div>
                            <div class="col">
                                <p>Interest rate</p>
                                <p class="values">17.5%</p>
                            </div>
                            <div class="col">
                                <p>EMI per month</p>
                                <p class="values">₹ 20000.0
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-cont">
                    <button>Continue</button>
                </div>
                </tab>
              
                <tab
                  tab2
                  heading="2 Personal info"
                  id="second"
                  #second
                  > </tab>
                  <tab
                  tab2
                  heading="3 Address"
                  id="second"
                  #second
                  > </tab>
                  <tab
                  tab2
                  heading="4 Documents"
                  id="second"
                  #second
                  > </tab>
                  <tab
                  tab2
                  heading="5 Summary"
                  id="second"
                  #second
                  > </tab>
                  <tab
                  tab2
                  heading="6 Mandate"
                  id="second"
                  #second
                  > </tab>
                  <tab
                  tab2
                  heading="7 Esign"
                  id="second"
                  #second
                  > </tab>
              </tabset>
        </div>
   
   
</div>