.logo{
    background-color: #FFFFFF;
    margin-top: -9px;
    margin-left: -6px;
    padding: 15px;
}
.info{
    width: 794px;
    height: 520px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: auto;
    padding: 24px;
    margin-top: 3rem;
    margin-left: 21rem;
}
.loan-details{
    display: inline-flex;
    width: 100%;
}
.loan, .tenture{
    display: flex;
    width: 50%;
    align-items: baseline;
}
h3{
    width: 50%;
}
.loan > p, .tenture > p {
    padding-right: 10px;
    width: 50%;
    text-align: end;
    background: #FCFCFC;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px;
    width: 126px;
    text-align: center;
}
.pre{
    background: #F6F8FE;
    border-radius: 6px;
    margin: 16px 0px;
    padding: 10px;
    color: #EB6E7F;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.pre > p{
    margin: 0px 10px;
    opacity: 0.8;
}
.img1{

    height: 13px;
    padding-right: 10px;

}
.form-range{
   width: 40%;
}
.loan-summary{
    border: 1px solid #EB6E7F;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 12px 0px;
    align-self: stretch;
    padding: 10px;
}
.row{
    display: flex;
    align-items: baseline;
}
.row > .col {
    width: 70%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
    opacity: 0.8;
}
.heading{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #191919;
}
.values{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}
label{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #666666;
}
.dropdown{
    width: 100%;
    padding: 8px;
    background: #FCFCFC;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.info > h2{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #333333;
margin: 16px 0px;
}
.btn-cont{
    float: right;
    padding-top: 40px;
    margin-right: 19rem;
}
.btn-cont > button {
    padding: 12px;
    background: #EB6E7F;
    border-radius: 6px;
    /* margin: 0px 2px; */
    margin: 0px 8px;
    width: 288px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5rem;
    border: 1px solid #EB6E7F;
}
